# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.env
.venv
venv/
env/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore system files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Latex auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
acs-implementation_details.bib
